app/config/parameters.yml
app/config/chima.nginx.conf
app/config/nginx.conf
app/cache
app/logs
vendor/colinmollenhour/credis
vendor/doctrine/data-fixtures
vendor/doctrine/doctrine-fixtures-bundle/Doctrine/Bundle/FixturesBundle
vendor/friendsofsymfony/user-bundle/FOS/UserBundle
