{% extends '::base.html.twig' %}
{% block main %}
<style type="text/css">
    .content_title { font-weight: bold; }
    .uushine {background-color: #78B270;border: 1px solid #71AD69;color: #FFFFFF;height: 30px;line-height: 30px;padding: 10px;}
</style>
<div class="centercontent">
    <div class="pageheader notab">
        <h1 class="pagetitle">邮件组管理</h1><br>
        <span class="pagedesc" class="field"><a target="_self" href="{{ path('tool_email_list') }}" class="btn btn_link"><span>邮件组列表</span></a></span>
    </div>
    <!--pageheader-->
    <div id="contentwrapper" class="contentwrapper">
        <form id="queryform" class="stdform_q" action="{{ path('tool_email_addgroup') }}" method="post">
            <div>
                <p>
                    <label>邮件组名称</label>
                    <span class="field"><input type="text" id="group_name" name="group_name" class="smallinput" value=""/></span>
                </p>
            </div>
            <div>
                <p>
                    <label>备注</label>
                    <span class="field"><textarea id="group_comment" name="group_comment" class="smallinput" rows='5' cols='100'></textarea></span>
                </p>
            </div>
            <div>
                <p>
                    <label></label>
                    <span class="field"><button type='submit' id="queryform_sub" class="submit radius2">创建</button></span>
                </p>
            </div>
            <div>
                <p><label></label><span class='error'>{{ error }}</span></p>
            </div>
        </form>
    </div>
    <!--contentwrapper-->
</div>
<!--centercontent-->
{% endblock %}
